@media  screen and (max-width:1600px) {
    .nav{
        display: grid;
        grid-template-columns: 30% 70%;
        align-items:left;
        background-color:#ffffff ;
        height: 70px;
        padding:0 11%;
      }
      .nav-item{
        display: flex;
        padding-left: 40px;
        text-align: center;
      }
      .nav-item li{
        list-style: none;
        padding-right: 40px;
      }
      .nav-item li a{
        font-size: 17px;
        
      }
      .wlc-note{
        padding: 100px 12% 0 12%;
      }
      .wlc-note h1{
        font-size: 62px;
      }
       .wlc-note form{
        padding-bottom: 15%;
       }
      .card1{
          height: 410px;
      }
      .card2{
          height: 410px;
      }
      .card1 p{
        font-size: 16px;
        line-height: 25px;
      }
      .ser-one{
        padding: 15px 0;
      }
      .ser-icon{
        height: 70px;
        width: 70px;
        padding: 28px 20px;
      }
      .service-details{
        padding-right: 17%;
      }
      .service-details h2{
        font-size: 32px;
        padding-top: 18px;
      }
      .ser-info h3{
        font-size: 17px;
        padding-bottom: 7px;
      }
      .ser-info p{
        font-size: 16px;
        line-height: 22px;
      }
      .works{
          padding-bottom: 80px;
      }
      .work{
          padding-right: 0;
      }
      .para h2{
        font-size: 26px;
        padding-bottom: 5px;
      }
      .para p{
        font-size: 18px;
        font-weight: normal;
        line-height: 25px;
      }
      .member-detail h2{
        font-size: 20px;
      }
      .social i{
        margin: 5px 10px;
        padding:10px  0;
        height: 38px;
        width: 40px;
      }
      .member-detail{
        height: 440px;
      }
      .member{
        padding-top: 50px;
      }
      .news-detail{
        height: 490px;
      }
      .news h4{
        font-size: 19px;
        padding: 16px 18px;
      }
      .news p{
        font-size: 17px;
        padding: 7px 18px;
        line-height: 28px;
      }
      .sub-sec form input{
        height: 60px;
        width: 280px;
      }
      .sub-sec form button{
        height: 60px;
        width: 240px;
      }
    }
    @media  screen and (max-width:1300px){
      .nav{
        height: 60px;
        padding:0 8%;
      }
    
      .nav-item li{
        list-style: none;
        padding-right: 20px;
      }
      .nav-item li a{
        font-size: 16px;
      }
      .logo{
        font-size: 22px;
      }
      .top-header{
        height:auto;
        width: 100%;
       }
       .wlc-note{
        padding: 140px  13% 0 13%;
        color: #ffffff;
      }
      .wlc-note h1{
        font-size: 55px;
      }
      .wlc-note form{
        padding-bottom: 10%;
       }
      .wlc-note button{
        height: 50px;
        width: 180px;
        margin-bottom: 15%;
       }
       .offer-details{
        padding: 80px 0 45px 0;
      }
      .offer-details h2{
        font-size: 34px;
      }
      .offer-details p{
        font-size: 18px;
        padding-top: 10px;
        line-height: 28px;
      }
      .offer-cards{
        grid-template-columns: 30% 30% 30%;
        padding: 0 16%;
        text-align: center;
      }
      .card1:nth-child(4){
        width: 100%;
        margin:20px 116.8%;
        margin-bottom: 60px;
      }
      .card1{
        margin-top: 10px;
      }
      .card2{
        margin-top: 10px;
      }
      .icon1{
        height: 75px;
        width: 75px;
        border-radius: 50%;
        margin-top: 45px;
      }
      .offer-cards .icon{
        height: 75px;
        width: 75px;
        padding:20px 10px;
        margin-top: 45px;
      }
      .ser-one{
        padding: 10px 0;
      }
      .ser-icon{
        height: 60px;
        width: 60px;
        padding: 20px 13px;
      }
      .service-details{
        padding-right: 4%;
      }
      .service-details h2{
        font-size: 28px;
        padding-top: 0;
      }
      .ser-info{
        padding: 0 15px;
      }
      .ser-info h3{
        font-size: 16px;
        padding-bottom: 5px;
      }
      .ser-info p{
        font-size: 16px;
        line-height: 18px;
        padding: 0;
      }
      .div1{
        padding: 55px 0;
      }
      .div1 h2{
        font-size: 22px;
      }
      .div1 p{
        font-size: 40px;
      }
      .work-brief{
        padding: 70px 10% 50px 10%;
      }
      .works{
        grid-template-columns: 33% 33% 33%;
        padding: 0 12% 25px 12%;
      }
      .work{
        padding: 0 14px 50px 0;
      }
      .work img{
        padding-right: 40px;
      }
      .work:nth-child(1) img{
        padding-right: 30px;
      }
      .work .img{
        width:75px
      }
      .para p{
        font-size: 18px;
        line-height: 25px;
      }
      .para h2{
        font-size: 23px;
      }
      .project-gallary p{
        padding: 20px 18%;
      }
      .options{
        padding-bottom: 10px;
      }
      .member-sec{
        padding: 70px 12%;
        
      }
      .member-sec p{
        padding:0 8% 60px 8%;
      }
      .testimonial-sec{
        padding-bottom: 10px;
      }
      .comment{
        padding:30px 90px 90px 90px ;
      }
      .news-sec{
        padding: 90px 8% 60px 8%;
    }
    .news-detail{
      height: 470px;
    }
    .news-cards{
      grid-template-columns: 28% 28% 28%;
    }
    .news h4{
      padding: 6px 5px 0px 20px;
    }
    .news p{
      font-size: 18px;
      padding: 10px 20px;
      line-height: 25px;
    }
    .news .date p{
      padding:5px 20px ;
      font-size: 18px;
     }
     .news .date a{
      padding:9px 10px ;
      font-size: 18px;
     }

    }
    @media  screen and (max-width:1000px) {
      .nav{
        height: 50px;
        padding:0 5%;
        grid-template-columns: 25% 75%;
      }
      .nav-item{
        padding-left: 6%;
        text-align: center;
      }
      .nav-item li{
        padding-right: 2.6%;
      }
      .nav-item li a{
        font-size: 14px;
      }
      .logo{
        font-size: 20px;
      }
      .wlc-note{
        padding: 70px  10% 0 10%;
        color: #ffffff;
      }
      .wlc-note h1{
        font-size: 42px;
      }
      .wlc-note p{
        font-size: 15px;
        line-height: 25px;
        padding: 20px 0 40px 0;
      }
      .wlc-note button{
        height: 40px;
        width: 140px;
        font-size: 14px;
        margin-bottom: 15%;
       }
       .offer-details{
        padding: 60px 0 35px 0;
      }
      .offer-details h4{
        font-size: 18px;
      }
      .offer-details h2{
        font-size: 28px;
      }
      .offer-details p{
        font-size: 16px;
        padding-top: 10px;
        line-height: 22px;
      }
      .offer-cards{
        grid-template-columns: 43% 43% ;
        padding: 0 19%;
        padding-bottom: 50px;
      }
      .card1:nth-child(4){
        margin:0;
        margin-bottom: none;
        margin-top: 20px;
      }
      .card1{
        margin-top: 20px;
        height: 370px;
      }
      .card2{
        margin-top: 20px;
        height: 370px;
      }
      .card2 p{
        line-height: 26px;
        padding: 0 10px;
      }
      .service-sec{
        padding-bottom: 90px;
      }
      .ser-info span{
        display: none;
      }
      .ser-one{
        padding: 4px 0;
      }
      .ser-icon{
        height: 50px;
        width: 50px;
        padding: 15px 9px;
      }
      .ser-info h3{
        font-size: 15px;
        padding-bottom: 3px;
      }
      .ser-info p{
        font-size: 15px;
      }
      .statistics-sec{
        padding: 0 5%;
        grid-template-columns: 28% 24% 24% 24%;
      }
      .div1{
        padding: 40px 0;
      }
      .div1 h2{
        font-size: 20px;
      }
      .div1 p{
        font-size: 30px;
      }
      .work-brief{
        padding: 60px 8% 40px 8%;
      }
      .work-brief h2{
        font-size: 28px;
      }
      .work-brief p{
        font-size: 18px;
        line-height: 25px;
        padding-top: 10px;
      }
      .works{
        grid-template-columns: 47% 47%;
        padding: 0 12% 25px 12%;
      }
      .work{
        padding: 0 14px 40px 0;
      }
      .para p{
        font-size: 17px;
        line-height: 23px;
      }
      .para h2{
        font-size: 21px;
      }
      .project-gallary h2{
        font-size: 28px;
        padding-top: 12px;
      }
      .project-gallary h3{
        font-size: 20px;
      }
      .project-gallary p{
        font-size: 18px;
        line-height: 25px;
        padding: 10px 8%;
      }
      .options{
        padding-bottom: 5px;
      }
      .options li{
        padding: 10px 20px;
      }
      .options li a{
      font-size: 14px;
      }
      .member-sec{
        padding: 50px 8%;
        
      }
      .member-sec h2{
        font-size: 28px;
        padding-top: 12px;
      }
      .member-sec h3{
        font-size: 20px;
      }
      .member-sec p{
        padding:0 0 40px 0;
        font-size:18px ;
        line-height: 25px;
      }
      .member{
        padding-top: 25px;
      }
      .member-detail{
        height: 340px;

      }
      .member-detail h2{
        font-size: 18px;
        padding:20px 0 8px 0;
      }
      .member-detail h3{
        font-size: 15px;
        padding-bottom: 25px;
      }
      .member img{
        width: 110px;
      }
      .social i{
        margin: 5 10px;
        padding:7px  0;
        height: 30px;
        width: 30px;
      }
      .testimonial-sec h3{
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 5px;
      }
      .testimonial-sec h2{
        font-size: 28px;
        padding-bottom: 15px;
        padding-top: 12px;
      }
      .testimonial-sec p{
        font-size: 18px;
        padding: 0 8%;
        line-height: 25px;
      }
      .comment{
        margin:50px 9% ;
        padding:0 40px 40px 40px ;
      }
      .comment .star{
        margin-left: 35px;
      }
      .news-sec{
        padding-top: 50px;
      }
      .news-sec h3{
        font-size: 20px;
      }
      .news-sec h2{
        font-size: 28px;
      }
      .news-sec p{
        font-size: 18px;
        padding: 0 0 40px 0;
        line-height: 25px;
      }
      .news-cards{
        grid-template-columns: 30% 30% 30%;
      }
      .news h4{
        padding: 4px 3px 0px 15px;
        font-size: 16px;
      }
      .news p{
        padding: 4px 8px 0px 15px;
        font-size: 15px;
        line-height: 19px;
      }
      .news-detail{
        height: 360px;
      }
      .news .date p{
        padding:10px 5px 10px 15px ;
        font-size: 16px;
       }
       .news .date a{
        padding:10px 5px ;
        font-size: 16px;
       }
       .sub-sec{
        padding-top: 80px;
      }
      .news-sec .sub-sec h3{
        font-size: 26px;
      }
      .sub-sec form input{
        height: 50px;
        width: 220px;
        padding-right: 30px;
        font-size: 15px;
      }
      .sub-sec form button{
        height: 50px;
        width: 150px;
        font-size: 15px;
      }
      .footer{
        padding-top: 100px;
      }
      .footer p{
        padding-bottom: 0;
      }
    }
    @media screen and (max-width:700px){
      .nav{
        grid-template-columns: 100%;
      }
      .nav .nav-item{
        padding-bottom:0;
      }
      .navbar .nav .nav-item {
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #ffffff;
        overflow: hidden;
      }
      .logo{
        display: flex;
        justify-content: space-between;
      }
      .logo .menubar{
        display:block;
        margin-left:0 auto;
        text-align: right;
      }
      #menuList{
        transition: all 0.5s;
      }
      .nav-item li a{
        margin: 2px 0;
        display: block;
        padding: 5px 0;
        border-radius: 10px;
        
      }
      .nav-item li a:hover{
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgba(0, 0,0.5);
      }
      .logo{
        font-size: 19px;
      }
      .wlc-note{
        padding: 30px  4% 0 4%;
      }
      .wlc-note h1{
        font-size: 32px;
      }
      .wlc-note p{
        font-size: 12px;
        line-height: 18px;
        padding: 5% 0 20px 0;
      }
      .wlc-note button{
        height: 30px;
        width: 100px;
        font-size: 12px;
        margin-bottom: 19%;
       }
       .offer-details h4{
         font-size: 17px;
         padding: 10px 5%;
       }
       .offer-details h2{
         padding: 10px 5%;
         font-size: 26px;
       }
       .offer-details p{
         padding: 0 5%;
       }
       .offer-cards{
        grid-template-columns: 44% 44% ;
        padding: 0 8%;
        justify-content: space-between;
        padding-bottom: 50px;
      }
      .icon1{
        margin-top: 30px;
      }
      .card2 h3{
        margin: 20px 0 10px 0;
        font-size: 17px;
      }
      .card1 h3{
        margin: 20px 0 10px 0;
        font-size: 17px;
      }
      .offer-cards .icon{
        margin-top: 30px;
      }
      .card1{
        margin-top: 20px;
        height: 350px;
        /* max-width: 300px; */
      }
      .card2{
        margin-top: 20px;
        height: 350px;
        /* max-width: 300px; */
      }
      .offer-details{
        padding-top: 35px;
        padding-bottom: 10px;
      
      }
      .service-sec{
        grid-template-columns: 100%;
        padding-bottom: 60px;
      }
      .service-details h2{
        font-size: 26px;
        text-align: center;
        padding: 20px 0;
      }
      .ser-one{
        padding: 10px 0 10px 6%;
      }
      .ser-info span{
        display: block;
      }
      .div1{
        padding: 30px 0px;
        margin: 0 5px;
      }
      .div1 h2{
        font-size: 18px;
      }
      .div1 p{
        font-size: 26px;
      }
      .works{
        grid-template-columns: 100%;
        padding: 0 12% 25px 12%;
      }
      .work-brief{
        padding: 30px 6%;
      }
      .work-brief h3{
        font-size: 17px;
      }
      .work-brief h2{
        font-size: 26px;
      }
      .project-gallary h2{
        font-size: 26px;
        padding-top: 12px;
      }
      .project-gallary h3{
        font-size: 17px;
      }
      .project-gallary p{
        
        padding: 10px 4%;
      }
      .options li{
        padding: 8px 10px;
      }
      .options li a{
       font-size: 14px;
      }
      .member-sec h3{
        padding-bottom: 0px;
        font-size: 17px;
      }
      .member-sec h2{
        font-size: 26px;
      }
      .member-cards{
        grid-template-columns: 100%;
        padding: 0 20%;
      }
      .member-detail{
        margin: 10px 0;
      }
      .member-detail h2{
        font-size: 18px;
      }
      .member-detail h3{
        padding-bottom: 25px;
      }
      .comment{
        padding: 0 20px 20px 20px;
        margin: 40px 6.8%;
      }
      .comment .name h3{
        font-size: 18px;
        padding: 50px 0 10px 0;
      }
      .comment .name h4{
        font-size: 15px;
      }
      .client{
        text-align: left;
      }
      .comment .star{
        margin-left: 6.5%;
      }
      .news-sec h3{
        font-size: 17px;
      }
      .news-sec h2{
        font-size: 26px;
      }
      .news-cards{
        grid-template-columns: 100%;
        padding: 0 20%;
      }
      .news-detail{
        margin: 10px 0;
        height: 450px;
      }
      .news h4{
        font-size: 18px;
      }
      .news p{
        font-size: 16px;
        line-height: 24px;
      }


    }
    @media screen and (max-width:500px){
      .nav{
        grid-template-columns: 100%;
      }
      .navbar .nav .nav-item{
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #ffffff;
        overflow: hidden;
      }
      .logo{
        display: flex;
        justify-content: space-between;
      }
      .logo .menubar{
        display:block;
        margin-left:0 auto;
        text-align: right;
      }
      #menuList{
        transition: all 0.5s;
      }
      .nav-item li a{
        margin: 2px 0;
        display: block;
        padding: 5px 0;
        border-radius: 10px;
        
      }
      .nav-item li a:hover{
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgba(0, 0,0.5);
      }
      .offer-cards{
        grid-template-columns: 100% ;
        padding: 0 23%;
        padding-bottom: 30px;
      
      }
      .options li a{
        font-size: 11.2px;
       }
       .options li{
        padding: 8px 5px;
      }
      .member-cards{
        grid-template-columns: 100%;
        padding: 0 14%;
      }
      .comment p span{
        display: none;
      }
      .news-cards{
        grid-template-columns: 100%;
        padding: 0 18%;
      }
      .news-detail{
        height: 400px;
      }
      .news-sec .sub-sec h3{
        font-size: 22px;
      }
      .sub-sec form input{
        height: 40px;
        width: 180px;
        padding-right: 30px;
        text-align: left;
        font-size: 13px;
      }
      .sub-sec form button{
        height: 40px;
        width: 110px;
        font-size: 13px;
      }

    }  